div(class="col-xs-12 col-sm-6 col-md-3 gallery-holder main-gallery")
    a(href="bellatrixs.html")
        div(class="image-holder")
            div(class="text-red") Bellatrixs
            img(src="../img/bella.png" alt="Bellatrixs")
        div(class="info-holder bg-primary")
            span 25
            span Blonde Baddie
