div(class="col-xs-12 col-sm-6 col-md-3 gallery-holder main-gallery")
    a(href="bimboarely.html")
        div(class="image-holder")
            div(class="text-red") bimboarley
            img(src="../img/bimbo.png" alt="BimboArley")
        div(class="info-holder bg-primary")
            span 25
            span Blonde Bimbo