div(class="col-xs-12 col-sm-6 col-md-3 gallery-holder main-gallery")
    a(href="mslilly.html")
        div(class="image-holder")
            div(class="text-red") Mslilly
            img(src="../img/mslilly.png" alt="MsLilly")
        div(class="info-holder bg-primary")
            span 18
            span Blonde Perky