footer  
    div(class="container")
        div(class="row")
            div(class="col-xs-12 col-sm-6 quick-links")
                h4(class="text-red") Quick Links
                ul(class="foot-menu-left")
                    li 
                        a(href="") Home
                    li 
                        a(href="") Gallery
                    li 
                        a(href="") Bookigs
                    li 
                        a(href="") Reviews
                    li 
                        a(href="") Recruitment
                    li 
                        a(href="") News
                    li 
                        a(href="") Rates
                    li 
                        a(href="") Site Map
            div(class="col-xs-12-col-sm-6 contact")
                h4(class="text-red") Get in Touch
                a(href="") 555-555-5555
                a(href="") blackedrawentertainment.vu@gmail.com
                h4(class="text-red") Public Rooms
                a(href="imvu://room/FlexAppeal/Blacked+Raw+Strip+Joint") Blacked Raw Strip Joint
                div(class="text-center")
                    a(class="social-media-icon" href="")
                        i(class="fab fa-twitter" aria-hidden="true")
                    a(class="social-media-icon" href="")
                        i(class="fab fa-google-plus" aria-hidden="true")
                    a(class="social-media-icon" href="")
                        i(class="fab fa-tumblr" aria-hidden="true")