head    
    title blacked raw entertainment
    link(rel="stylesheets" type="text/css" href="css/bootstrap/css")
    link(rel="stylesheets" type="text/css" href="css/main.css/main.css")
    link(rel="stylesheets" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    