nav
    ul
        li(class="first") 
            a(href="../index.html") Home
        li 
            a(href="gallery.html") Gallery
        li 
            a(href="") Booking
        li  
            a(href="") Recruitment
        li
            a(href="") blog
        li(class="last")
            a(href="") Rates  